/* Core style đã nằm ở components/auth-layout/index.scss */

/* Tăng padding cho inputs ở Login cho cảm giác mềm hơn */
.auth-form--login .auth-form__item .auth-form__input.is-droplet {
  padding: 12px 14px;
}
.auth-form--login .auth-form__item .ant-input-affix-wrapper.is-droplet {
  padding: 10px 12px;
}

/* label antd sáng trên nền tối (backup) */
.auth-card--form .ant-form-item-label > label { color: var(--auth-text); }

.auth-form__title{
  font-size: 35px;
  color: #43B7FA;
  font-display: fallback;
}
.auth-form__hint{
  font-size: 25px;
}
.auth-form--login .auth-form__item--password .ant-form-item-explain-error  {
  color: #FFD54F !important;          /* vàng */
  font-size: calc(8px + var(--auth-font-bump)); /* to hơn, đồng bộ biến của bạn */
                     /* đậm */
  letter-spacing: .01em;

  padding-top: 5px;
}
.auth-form--login .auth-form__item--username .ant-form-item-explain-error{
    color: #FFD54F !important;          /* vàng */
  font-size: calc(8px + var(--auth-font-bump)); /* to hơn, đồng bộ biến của bạn */
                     /* đậm */
  letter-spacing: .01em;
  
  padding-top: 5px;
}
:where(.css-dev-only-do-not-override-vrrzze).ant-input-filled.ant-input-status-error:not(.ant-input-disabled) {
  background: none !important;
}
:where(.css-dev-only-do-not-override-vrrzze).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  background: none !important;
}

