/* Core ở components/auth-layout/index.scss đã bao gồm mọi thứ */

/* Padding mềm cho inputs */
.auth-form--register .auth-form__item .auth-form__input.is-droplet {
  padding: 12px 14px;
}
.auth-form--register .auth-form__item .ant-input-affix-wrapper.is-droplet {
  padding: 10px 12px;
}

/* label antd sáng */
.auth-card--form .ant-form-item-label > label { color: var(--auth-text); }

/* đề phòng CSS khác vô tình ẩn brand */
.auth-card--brand { display: block !important; visibility: visible !important; }
.brand__title{
    color: #43B7FA;
    font-size: 45px;
}
.brand__subtitle{
    color: white;
    font-size: 35px;
}